/* Ensure the container takes full height and width */
.container-fluid {
  width: 100vw;
  padding-top: 2px; /* Add padding-top to accommodate the header */
  padding-bottom: 70px; /* Add padding-bottom to accommodate the footer */
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.form-label {
  font-weight: bold;
  font-size: 18px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  height: 40px;
  font-size: 18px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.row {
  width: 100vw;
}

form {
  height: auto;
}

.ima {
  margin-bottom: 0px;
}

button {
  margin-bottom: 3px;
}

.large-editor {
  height: 300px;
}

@media (max-width: 768px) {
  .large-editor {
    height: 200px;
  }
}
